{:deps
 {;; ...................................................... system
  org.clojure/clojure       {:mvn/version "1.11.1"}
  org.clojure/core.async    {:mvn/version "1.6.673"}
  com.taoensso/timbre       {:mvn/version "6.5.0"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
  io.aviso/pretty           {:mvn/version "1.4"}
  com.rpl/specter           {:mvn/version "1.1.4"}
  ;; ...................................................... validation
  metosin/malli             {:mvn/version "0.5.1"}
  ;; ...................................................... db
  com.taoensso/carmine      {:mvn/version "3.2.0"}
  } ;// end :deps

 :paths ["src"]

 :aliases
 {:repl {:__usage__ "clojure -M:repl"
         :main-opts ["-m" "repl"]
         :extra-paths ["dev/src" "test"]
         :extra-deps {com.bhauman/rebel-readline #:mvn{:version "0.1.4"}
                      nrepl/nrepl {:mvn/version "1.0.0"}
                      cider/cider-nrepl {:mvn/version "0.28.5"}
                      org.clojure/tools.namespace #:mvn{:version "1.2.0"}}}

  :test {:__usage__ "clj -M:test"
         :main-opts ["-m" "kaocha.runner"]
         :extra-paths ["test_hooks/src"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                      ;;TODO: look at removing kaocha-noyoda
                      kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      babashka/fs {:mvn/version "0.2.12"}}}

  :doc {:__usage__ "clojure -X:doc"
        :extra-paths ["dev-resources"]
        :extra-deps {codox/codox {:mvn/version "0.10.8"}}
        :exec-fn codox.main/generate-docs
        :exec-args {:source-paths ["src"]
                    :output-path "docs"
                    :metadata #:doc{:format :markdown}
                    :themes [:st-codox-theme]}}}}
